<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
    <script src="/js/fuse_3.2.0.js"></script>
    <script src="/js/jquery_3.3.1_min.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/infinity_scroll.js"></script>
  {{ partial "head.html" . }}
  <body>
    {{ partial "nav-bar.html" . }}
    <main id = "search-results" class="">
      <!--<header class="list-header">
        <p class="list-header-subtext">{{ .Description }}</p>
        <h1 class="list-header-title">{{ .Title }}</h1>
      </header> -->
      {{ range (.Site.RegularPages.GroupByDate "2 January 2006") }}
        {{ $ns := now.Format "2 January 2006" }}
        {{ $page := index .Pages 0 }}
        {{ $pgDt := $page.Date.Format "2 January 2006"}}
        {{ if eq $pgDt $ns }}
          <h3>{{ $pgDt }}</h3>
          {{ range (where .Pages "Type" "post") }}
            {{ .Render "li" }}
          {{- end }}
        {{- end }}
      {{- end }}
    </main>

     
    

    
    
    <div class="move_top"></div>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>

<script id="search-result-template" type="text/x-js-template">
  <div ontouchstart="cardPressed.call(this)" ontouchend="cardReleased.call(this)" ontouchmove="cardReleased.call(this)" class="card blog-card custom-card-row" rel="bookmark">
      ${ isset featuredimage }<div class="card-img-container"><picture><a href="${ link }"> <img src="${featuredimage}" class="card-img" {{ if isset .Params "featuredimagedescription" }}alt="${Params.featuredimagedescription}"{{end}}> </a></picture></div>${ end }
    <article class="card-body">
      <a href="${ link }"><h2 class="card-title">${title}</h2></a>
      <a href="${ link }"><div class="card-text ch-limit">${contents}</div></a>
      <div id="summary-${key}">
        ${ isset tags }<p>Tags: ${tags}</p>${ end }
  
        
      </div>
  
      
  
      <div class="card-subtext muted-text">
          ${ isset categories }<p>${ categories }</p>${ end }
      </div>
    </article>
  </div>    
  </script>


<script type="text/javascript">
 $(document).ready(function(){
    var searchQuery = getUrlVars()["s"];
    if(typeof(getUrlVars()["s"]) != 'undefined')
    {
      searchQuery = decodeURIComponent((location.search.split(name + '=')[1] || '').split('&')[0]).replace(/\+/g, ' ');
      $('#search-query').val(searchQuery);
    }
    if($('.card.blog-card.custom-card-row').length == 0){
      $('main').append('<h3>No data found</h3>');
    }
  });

  $('.move_top').on('click',function(){
    $("html, body").animate({ scrollTop: 0 }, "slow");
    
});

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
    $(".move_top").css('display',"block");
  } else {
    $(".move_top").css('display', "none")  ;
  }
}
</script>