<footer class="footer-wrap">
<article class="footer-row-1">
<div class="row">

<div class="col-md-3">
<h3>Publications</h3>
<ul class="foot-menu">
<li><a href="#">Netspective Media</a></li>
<li><a href="#">The Healthcare IT Guy</a></li>
<li><a href="#">Healthcare Guys</a></li>
<li><a href="#">dGov News</a></li>
<li><a href="#">HITSphere</a></li>
<li><a href="#">FEDSphere</a></li>
<li><a href="#">Netspective CAK</a></li>
</ul>
</div>

<div class="col-md-5">
<h3>Recent Posts</h3>
<aside class="recent-post no-border">
<h5><a href="#">5 Warning Signs of Heart Disease You Shouldn’t Ignore</a></h5>
<span>Monday, June 3, 2019</span>
</aside>

<aside class="recent-post">
<h5><a href="#">Common Car Accident Injuries</a></h5>
<span>Sunday, June 2, 2019</span>
</aside>

<aside class="recent-post">
<h5><a href="#">Opening Your Own Clinical Research Company</a></h5>
<span>Sunday, June 2, 2019</span>
</aside>
</div>

<div class="col-md-4">
<h3>Categories</h3>
<ul class="foot-menu">
<li><a href="#">Addiction</a></li>
<li><a href="#">Aging</a></li>
<li><a href="#">Analytics and reporting</a></li>
<li><a href="#">Announcement</a></li>
<li><a href="#">Appointments</a></li>
<li><a href="#">Apps</a></li>
<li><a href="#">Artificial Intelligence</a></li>
</ul>
<!--<div class="form-group">
	<form action="" method="get">
	 <label class="" for="cat">Categories</label> 
	<select name="cat" id="cat" class="form-control">
	<option value="-1">Select Category</option>
	<option class="level-0" value="447">#hcbiz</option>
	<option class="level-0" value="445">3D printing</option>
	<option class="level-0" value="769">Abuse</option>
	<option class="level-0" value="462">ACO</option>
	<option class="level-0" value="560">Addiction</option>
	<option class="level-0" value="609">Aging</option>
	<option class="level-0" value="254">Analytics and reporting</option>
	<option class="level-0" value="391">Announcement</option>
	<option class="level-0" value="779">Appointments</option>
	<option class="level-0" value="790">Apps</option>
	<option class="level-0" value="545">Artificial Intelligence</option>
	<option class="level-0" value="818">Assisted Living</option>
	<option class="level-0" value="478">Big Data</option>
	<option class="level-0" value="791">Billing</option>
	<option class="level-0" value="453">Blockchains</option>
	<option class="level-0" value="304">Blogging</option>
	<option class="level-0" value="570">Business</option>
	<option class="level-0" value="773">Care Collaboration</option>
	<option class="level-0" value="764">Care Management</option>
	<option class="level-0" value="758">Careers</option>
	<option class="level-0" value="508">Caregiving</option>
	<option class="level-0" value="736">Chronic Care Management</option>
	<option class="level-0" value="572">Clinical Decision Support</option>
	<option class="level-0" value="599">Clinical Documentation</option>
	<option class="level-0" value="264">Clinical research</option>
	<option class="level-0" value="314">Cloud Computing</option>
	<option class="level-0" value="564">Communication</option>
	<option class="level-0" value="620">Comprehensive Care Plus</option>
	<option class="level-0" value="774">Connected Care Technology</option>
	<option class="level-0" value="831">Contract Modeling</option>
	<option class="level-0" value="830">CRM</option>
	<option class="level-0" value="380">Cybersecurity</option>
	<option class="level-0" value="724">Data Analysis</option>
	<option class="level-0" value="725">Data Analytics</option>
	<option class="level-0" value="878">Dementia</option>
	<option class="level-0" value="403">Dental IT</option>
	<option class="level-0" value="605">Dentistry</option>
	<option class="level-0" value="295">Design and UX</option>
	<option class="level-0" value="377">Digital chemistry &amp; Pharma IT</option>
	<option class="level-0" value="558">Digital Health</option>
	<option class="level-0" value="479">Digital Home Healthcare</option>
	<option class="level-0" value="780">Drugs</option>
	<option class="level-0" value="616">Ecommerce</option>
	<option class="level-0" value="855">Education</option>
	<option class="level-0" value="234">EHR</option>
	<option class="level-0" value="869">Elderly</option>
	<option class="level-0" value="235">EMR</option>
	<option class="level-0" value="781">Entrepreneurs</option>
	<option class="level-0" value="292">Entrepreneurship</option>
	<option class="level-0" value="602">Ethics</option>
	<option class="level-0" value="302">Events/Webinars &amp; Conferences</option>
	<option class="level-0" value="789">General</option>
	<option class="level-0" value="413">Governance &amp; regulation</option>
	<option class="level-0" value="482">Health and Fitness</option>
	<option class="level-0" value="448">Health API</option>
	<option class="level-0" value="461">Health App</option>
	<option class="level-0" value="534">Health Apps</option>
	<option class="level-0" value="762">Health Gadgets</option>
	<option class="level-0" value="375">Healthcare</option>
	<option class="level-0" value="603">Healthcare Careers</option>
	<option class="level-0" value="276">Healthcare IT</option>
	<option class="level-0" value="418">HIMSS</option>
	<option class="level-0" value="397">HIPAA</option>
	<option class="level-0" value="809">Home Healthcare</option>
	<option class="level-0" value="230">Hospital &amp; Physicians</option>
	<option class="level-0" value="420">Hospital management &amp; administration</option>
	<option class="level-0" value="306">ICD-10</option>
	<option class="level-0" value="387">Infographic</option>
	<option class="level-0" value="305">Innovation &amp; Evaluation</option>
	<option class="level-0" value="422">Insight &amp; Analysis</option>
	<option class="level-0" value="760">Insurance</option>
	<option class="level-0" value="619">Integrated Care</option>
	<option class="level-0" value="423">Integrated Omics</option>
	<option class="level-0" value="583">Intelligence</option>
	<option class="level-0" value="248">Intereporability</option>
	<option class="level-0" value="600">Internet of Things (IoT)</option>
	<option class="level-0" value="324">Interoperability &amp; Integration</option>
	<option class="level-0" value="319">Interview</option>
	<option class="level-0" value="494">IoT</option>
	<option class="level-0" value="140">Just-in</option>
	<option class="level-0" value="424">Laboratory information management systems</option>
	<option class="level-0" value="518">Legal</option>
	<option class="level-0" value="618">Life Sciences</option>
	<option class="level-0" value="742">Marketing</option>
	<option class="level-0" value="243">Medical Apps</option>
	<option class="level-0" value="321">Medical Billing</option>
	<option class="level-0" value="250">Medical device</option>
	<option class="level-0" value="778">Medical Devices</option>
	<option class="level-0" value="457">Medical Education</option>
	<option class="level-0" value="442">Medical imaging</option>
	<option class="level-0" value="608">Medical Practice</option>
	<option class="level-0" value="607">Medical Practive</option>
	<option class="level-0" value="555">Medical Transcription</option>
	<option class="level-0" value="839">Medical Transportation</option>
	<option class="level-0" value="294">Medical Travel</option>
	<option class="level-0" value="768">Medicare</option>
	<option class="level-0" value="585">Mental Health</option>
	<option class="level-0" value="427">Mergers, Partnerships &amp; acquisitions</option>
	<option class="level-0" value="300">mHealth &amp; apps</option>
	<option class="level-0" value="459">Middle East</option>
	<option class="level-0" value="622">Mobile Healthcare</option>
	<option class="level-0" value="456">Nursing</option>
	<option class="level-0" value="834">Open Source</option>
	<option class="level-0" value="296">Patents</option>
	<option class="level-0" value="395">Patient Engagement &amp; Portals</option>
	<option class="level-0" value="402">Patient Experience</option>
	<option class="level-0" value="803">Patient Portals</option>
	<option class="level-0" value="551">Patient Relationship Management</option>
	<option class="level-0" value="400">Payers</option>
	<option class="level-0" value="283">Payers &amp; Providers</option>
	<option class="level-0" value="431">Payment Models &amp; Reimbursement</option>
	<option class="level-0" value="557">Pharma</option>
	<option class="level-0" value="810">Pharmacology</option>
	<option class="level-0" value="318">Population Health</option>
	<option class="level-0" value="432">Precision medicine</option>
	<option class="level-0" value="383">Press Release</option>
	<option class="level-0" value="316">Primary Care</option>
	<option class="level-0" value="823">Proteomics</option>
	<option class="level-0" value="808">Record Retrieval</option>
	<option class="level-0" value="435">Reports &amp; Survey</option>
	<option class="level-0" value="477">Revenue Cycle Management</option>
	<option class="level-0" value="604">Risk Adjustment</option>
	<option class="level-0" value="569">Robotic Surgery</option>
	<option class="level-0" value="584">Sales</option>
	<option class="level-0" value="446">Security</option>
	<option class="level-0" value="838">SEO</option>
	<option class="level-0" value="751">Skills</option>
	<option class="level-0" value="755">Skincare</option>
	<option class="level-0" value="444">Social media</option>
	<option class="level-0" value="817">Sports</option>
	<option class="level-0" value="623">Stress Management</option>
	<option class="level-0" value="615">Technology</option>
	<option class="level-0" value="514">Telehealth</option>
	<option class="level-0" value="313">Telemedicine</option>
	<option class="level-0" value="610">Therapy</option>
	<option class="level-0" value="1">Uncategorized</option>
	<option class="level-0" value="770">Value Based Care</option>
	<option class="level-0" value="840">Virtual Reality</option>
	<option class="level-0" value="581">Wearables</option>
	<option class="level-0" value="439">Wellness &amp; Fitness trackers</option>
	<option class="level-0" value="440">Wellness &amp; Prevention</option>
	<option class="level-0" value="606">X-ray</option>
</select>
</form>
</div>-->
</div>

</div>		
</article>  

<article class="footer-row-2 text-center">
<div class="social"><a href="#"><i class="fab fa-facebook-f font"></i></a> <a href="#"><i class="fab fa-twitter font"></i></a> <a href="#"><i class="fab fa-google-plus-g font"></i></a> <a href="#"><i class="fab fa-linkedin-in font"></i></a></div>
<div>© 2005-2019 Netspective Media LLC. All rights reserved.</div>	
</article>  
</footer>